<div class="container" id="colorRankView">
    <div class="row">
        <div class="col-md-6 text-center">
            <div class="row">
                <img ng-src="{{formImage.url}}">
            </div>
            <div class="row">
                <div class="col-md-6 text-center">
                    <a class="btn btn-primary margin-topbottom-10"
                       ng-click="pickFile()">
                        <span class="glyphicon glyphicon-picture"></span>
                        <strong>Choose Image</strong>
                    </a>
                </div>
                <div class="col-md-6 text-center">
                    <a class="btn btn-primary margin-topbottom-10"
                       ng-click="getColorsArray()">
                        <span class="glyphicon glyphicon-picture"></span>
                        <strong>Evaluate Image</strong>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-6 text-center">
            <div class="row text-center">
                <labeL>Most Common Colors:</labeL>
            </div>
            <div class="row">
                <table width="100%">
                    <thead>
                        <th class="text-center">Rank</th>
                        <th class="text-center">Color</th>
                        <th class="text-center">RGB</th>
                        <th class="text-center">Occurrences</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td><strong>1st</strong></td>
                            <td id="colorRank1"></td>
                            <td>{{fullColors[0].color}}</td>
                            <td>{{fullColors[0].freq}}</td>
                        </tr>
                        <tr>
                            <td><strong>2nd</strong></td>
                            <td bgcolor="rgb({{fullColors[1].color}})"></td>
                            <td>{{fullColors[1].color}}</td>
                            <td>{{fullColors[1].freq}}</td>
                        </tr>
                        <tr>
                            <td><strong>3rd</strong></td>
                            <td bgcolor="rgb({{fullColors[2].color}})"></td>
                            <td>{{fullColors[2].color}}</td>
                            <td>{{fullColors[2].freq}}</td>
                        </tr>
                        <tr>
                            <td><strong>4th</strong></td>
                            <td bgcolor="rgb({{fullColors[3].color}})"></td>
                            <td>{{fullColors[3].color}}</td>
                            <td>{{fullColors[3].freq}}</td>
                        </tr>
                    </tbody>
                </table>
                <hr/>
                <canvas id="canvas" width="28" height="28"></canvas>
            </div>
        </div>
    </div>
</div>